@font-face {
    font-family: "special_font";
    src: url('https://persianov.net/fonts/retron.ttf') format('truetype');
}
.red {
    color: #990000;
}
.green {
    color: #009900;
}
.green-dark {
    color: #027a02;
}
html {
    background: #1e1e1b;
    color: #c2c0c0;
    height: 100%;
    font-family: "special_font";
}
body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.top_nav {
    float: none;
    align-self: center;
    text-align: center;
    font-size: 22px;
    margin-bottom: 100px;
    margin-top: 30px;
}
.top_nav a {
    margin-right: 5px;
    margin-left: 5px;
    color: #dddddd;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #fff;
}
article {
    float: none;
    align-self: center;
    text-align: left;
    font-family: Courier New, Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
article p {
    font-size: 20px;
}
.post_meta {
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 25px;
}
.post_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 55px;
    border: 2px solid #313030;
    width: 60%;
}
.header_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow: hidden;
    clip: rect(0px,60px,200px,0px);
}
footer {
    font-family: Courier New, Courier, monospace;
    margin-top: 100px;
}
.title {
    text-align: left;
}
.title a {
    text-decoration: none;
    color: #c5c3c3;
}
.post_title a {
    text-decoration: none;
    color: #c5c3c3;
}
.center {
    text-align: center;
}
code.highlighter-rouge {
    background: #291717;
    border: 2px solid #313030;
    border-radius: 2px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    border: 2px solid #534f4f;
    text-align: left;
    padding: 5px;
}
pre {
    overflow-x: auto;
}
.pagination {
    float: none;
    align-self: center;
    text-align: center;
    font-family: Courier New, Courier, monospace;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
.older, .newer {
    font-size: 20px;
}
.total_posts {
    font-size: 13px;
}
@media only screen and (max-width: 990px) {
    /* Mobile */
    .resp_w { width: 90%; }
    .header_image { 
        width: 90%;
        height: 100%; 
    }
}
@media only screen and (min-width: 991px) {
    /* Desktops */
    .resp_w { width: 75%; }
    .header_image { 
        width: 35%;
        height: 39%; 
    }
}
@media only screen and (min-width: 1200px) {
    /* Wide screens */
    .resp_w { width: 60%; }
    .header_image { 
        width: 30%;
        height: 33%; 
    }
}
