---
layout: default
---

<div class="top_nav_categories center">
  Categories: 
  {% assign pages_list = site.pages %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.layout == "category" %}
        <a class="category" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
  <br>
  <span class="total_posts">
      Total blog articles: {{pagination.posts | size}}
  </span>
</div>

<h1 class="page_title center">Articles in {{ page.title }}</h1>

{% assign category = page.category | default: page.title %}
{% for post in site.categories[category] %}
    <article class="resp_w">
        <div>
            <h2 class="post_title">
                <a href="{{post.url}}">
                    <span class="green">[</span>{{ post.title }}<span class="green">]</span>
                </a>
            </h2>
            <p class="post_meta green-dark">
                === {{ post.date | date: "%b %-d, %Y" }} ===
            </p>
        </div>
        {{post.excerpt}}
    </article>
{% endfor %}
