---
layout: default
---

<h1 class="page_title center">Articles in {{ page.title }}</h1>

{% assign category = page.category | default: page.title %}
{% for post in site.categories[category] %}
    <article class="resp_w">
        <div>
            <h2 class="post_title">
                <a href="{{post.url}}">
                    <span class="green">[</span>{{ post.title }}<span class="green">]</span>
                </a>
            </h2>
            <p class="post_meta green-dark">
                === {{ post.date | date: "%b %-d, %Y" }} ===
            </p>
        </div>
        {{post.excerpt}}
    </article>
{% endfor %}
