---
layout: default
---

<h1 class="page_title center">Contact Me</h1>

<article class="resp_w" style="text-align: center;">
    <p>Found discrepancies or need help? Want to share cool stuff or just want to say Hi!? Feel free to drop me a message any time and I'll be glad to chat.</p>
    <p>I usually reply in up to 24 hours time. If it is urgent, drop me an email instead ;)</p>
</article>
<article class="resp_w">
  <p>Reach me on:</p>
  <p>Twitter: <a href="https://twitter.com/s_persianov">@s_persianov</a></p>
  <p>GitHub: <a href="https://github.com/num1r0">num1r0</a></p>
  <p>YouTube: <a href="https://www.youtube.com/channel/UCn9NOhHKQMM_M_RFLc7ztMg">Sveatoslav Persianov</a></p>
  <p>LinkedIn: <a href="https://www.linkedin.com/in/sveatoslav-persianov/">sveatoslav-persianov</a></p>
  <p>Facebook: <a href="https://www.facebook.com/sveatoslav.persianov">sveatoslav.persianov</a></p>
  <p>Instagram: <a href="https://www.instagram.com/s_persianov">@s_persianov</a></p>
  <p>Email (ROT 10): <a href="#">zobcskxyf.c@qwksv.myw</a></p>
</article>