---
layout: default
---
<article class="resp_w" style="text-align: center;">
    <p>This is the collection of crackme challenges I ever created. Feel free to download them and test your skills (:</p>
    <p>In case you are planning to use them in any CTF challenges, a short note about the author would be much appreciated.</p>
    <p>Enjoy and I hope you have fun!</p>
</article>
<article class="resp_w">
    <table class="crackme-challenges">
        <thead>
            <tr>
                <th width="15%">Name</th>
                <th width="45%">Description</th>
                <th width="13%">Difficulty</th>
                <th width="12%">Added on</th>
                <th width="15%">How to solve</th>
            </tr>
        </thead>
        <tbody>
            {% for crackme in site.data.crackmes %}
            <tr>
                <td>{{ crackme.name }}</td>
                <td>{{ crackme.description }}</td>
                <td>{{ crackme.difficulty }}</td>
                <td>{{ crackme.added_on }}</td>
                <td>{{ crackme.how_to_solve }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>