---
layout: default
---

<article class="resp_w">
    <table class="crackme-challenges">
        <thead>
            <tr>
                <th width="20%">Name</th>
                <th width="45%">Description</th>
                <th width="20%">VirusTotal Scan</th>
                <th width="15%">How to solve</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DFDWiz.exe</td>
                <td>cebb919d8d04f224b78181a4d3f0b10a315ae2f2</td>
                <td>hxxp://biederman.net/leslie/lL/</td>
                <td>hxxp://biederman.net/leslie/lL/</td>
            </tr>
            <tr>
                <td>DFDWiz.exe</td>
                <td>cebb919d8d04f224b78181a4d3f0b10a315ae2f2</td>
                <td>hxxp://biederman.net/leslie/lL/</td>
                <td>hxxp://biederman.net/leslie/lL/</td>
            </tr>
            <tr>
                <td>DFDWiz.exe</td>
                <td>cebb919d8d04f224b78181a4d3f0b10a315ae2f2</td>
                <td>hxxp://biederman.net/leslie/lL/</td>
                <td>hxxp://biederman.net/leslie/lL/</td>
            </tr>
            <tr>
                <td>DFDWiz.exe</td>
                <td>cebb919d8d04f224b78181a4d3f0b10a315ae2f2</td>
                <td>hxxp://biederman.net/leslie/lL/</td>
                <td>hxxp://biederman.net/leslie/lL/</td>
            </tr>
            <tr>
                <td>DFDWiz.exe</td>
                <td>cebb919d8d04f224b78181a4d3f0b10a315ae2f2</td>
                <td>hxxp://biederman.net/leslie/lL/</td>
                <td>hxxp://biederman.net/leslie/lL/</td>
            </tr>
            <tr>
                <td>DFDWiz.exe</td>
                <td>cebb919d8d04f224b78181a4d3f0b10a315ae2f2</td>
                <td>hxxp://biederman.net/leslie/lL/</td>
                <td>hxxp://biederman.net/leslie/lL/</td>
            </tr>
        </tbody>
    </table>
</article>