<!DOCTYPE html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="css/styles.css">
        <title>{{site.title}} | {{page.title}}</title>
        {{% seo %}}
    </head>
<body>
    <img class="header_image" src="https://pre00.deviantart.net/aefd/th/pre/i/2015/033/9/9/cyberpunk_city_by_kirokaze-d8gebd0.png"/>

    <div class="top_nav">
        <a href="#"><span class="red">[</span>Posts<span class="red">]</span></a>
        <a href="#"><span class="red">[</span>Projects<span class="red">]</span></a>
        <a href="#"><span class="red">[</span>Bugtrack<span class="red">]</span></a>
        <a href="#"><span class="red">[</span>About<span class="red">]</span></a>
    </div>
    
    {{content}}

    <footer class="center">
        <div>
            <p><strong>Copyright &copy Sveatoslav Persianov</strong></p>
            <p>Find me on: 
                <a href="https://twitter.com">Twitter</a>
                <a href="https://github.com">GitHub</a>
                <a href="https://youtube.com">YouTube</a>
                <a href="mailto:a@a.com">Email</a>
                <a href="irc://a">IRC</a>
            </p>
        </div>
    </footer>
</body>

</html>
