<!DOCTYPE html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://persianov.net/css/styles.css">
        {% seo %}
    </head>
<body>
    <img class="header_image" src="img/header.gif"/>

    <div class="top_nav">
        <a href="/"><span class="red">[</span>Posts<span class="red">]</span></a>
        <a href="#./projects"><span class="red">[</span>Projects<span class="red">]</span></a>
        <a href="#./bugtrack"><span class="red">[</span>Bugtrack<span class="red">]</span></a>
        <a href="#./tutorials"><span class="red">[</span>Tutorials<span class="red">]</span></a>
    </div>
    
    {{content}}

    <footer class="center">
        <div>
            <p><strong>Copyright &copy Sveatoslav Persianov</strong></p>
            <p>Find me on: 
                <a href="https://twitter.com/num1r0">Twitter</a>
                <a href="https://github.com/num1r0">GitHub</a>
                <a href="https://www.youtube.com/channel/UCn9NOhHKQMM_M_RFLc7ztMg">YouTube</a>
                <a href="#">Email</a>
                <a href="https://discord.gg/GcwHjqR">Discord</a>
            </p>
        </div>
    </footer>
</body>

</html>
