<!DOCTYPE html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72526364-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-72526364-1');
        </script>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="google-site-verification" content="J_8Q0-xJba2mH3qk5DYZVANicD-89wVM1SBFiRTTqFs" />
        <link rel="stylesheet" href="https://persianov.net/css/monokai.css">
        <link rel="stylesheet" href="https://persianov.net/css/styles.css">
        {% seo %}
    </head>
<body>
    <img class="header_image" src="img/header.gif" alt="Persianov on Security"/>

    <div class="top_nav">
        <a href="/"><span class="red">[</span>Posts<span class="red">]</span></a>
        <a href="#./projects"><span class="red">[</span>Projects<span class="red">]</span></a>
        <a href="#./bugtrack"><span class="red">[</span>Bugtrack<span class="red">]</span></a>
        <a href="#./crackme"><span class="red">[</span>Crackmes<span class="red">]</span></a>
        <a href="#./tutorials"><span class="red">[</span>Tutorials<span class="red">]</span></a>
    </div>
    
    {{content}}

    <footer class="center">
        <div>
            <p><strong>Copyright &copy Sveatoslav Persianov</strong></p>
            <p>Find me on: 
                <a href="https://twitter.com/s_persianov">Twitter</a>
                <a href="https://github.com/num1r0">GitHub</a>
                <a href="https://www.youtube.com/channel/UCn9NOhHKQMM_M_RFLc7ztMg">YouTube</a>
                <a href="#">Email</a>
            </p>
        </div>
    </footer>
</body>

</html>
