---
layout: default
---

<!-- Pagination -->
<div class="pagination">
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Newer</a>
    {% else %}
        <span class="next ">Newer</span>
    {% endif %}
    <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
        Total posts: {{site.posts | size}}
    </span>
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
            Older
        </a>
    {% else %}
        <span class="previous">Older</span>
    {% endif %}
</div>

{% for post in paginator.posts %}
    <article>
        <div>
            <h2 class="post_title">
                <a href="{{post.url}}">
                    <span class="green">[</span>{{ post.title }}<span class="green">]</span>
                </a>
            </h2>
            <p class="post_meta green-dark">
                === Added on: {{ post.date | date: "%b %-d, %Y" }} ===
            </p>
        </div>
        {{post.excerpt}}
    </article>
{% endfor %}